body {
    background-color: #fce4ec;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    color: #e91e63;
    margin-bottom: 40px;
    font-size: 2.8rem;
}

input {
    width: 350px;
    padding: 20px;
    margin: 15px 0;
    border: 2px solid #f8bbd0;
    border-radius: 15px;
    font-size: 18px;
    outline: none;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

input:focus {
    border-color: #e91e63;
}

button {
    width: 394px;
    padding: 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(233, 30, 99, 0.2);
    transition: transform 0.2s;
}

button:hover {
    background-color: #d81b60;
    transform: translateY(-2px);
}